:root {
    --color-lightgreen:rgb(220, 233, 226);
    --color-green:rgba(37, 117, 97, 0.4);
    --color-darkgreen:rgb(12, 68, 54, 1);
    --color-title-darkgreen:rgb(20, 101, 81);
    --color-white: #FFFFFF;
    --color-lightergreen: #DCE9E2;
    --color-secondary-darkgreen: #ABCFA8;
    --color-secondary-darkgreen: #D0DECF;
    --color-background: #F1F1F1;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #E5E5E5;
    font-size: 18px;
}

header {

    height: 75px;
    width: 100%;
    display: flex;
    background-color: var(--color-title-darkgreen);
    align-items: center;
    justify-content: center;
}

.header-title {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 12px;
}

.arrow {
    height: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 26px;
}

.box-data-calculations{
    background: var(--color-secondary-darkgreen);
    max-width: 1197px;
    margin: 84px auto;
    border-radius: 20px;
    padding: 29px 32px;
    display: flex;
    flex-direction: row;
}

.box-data-calculations-left, .box-data-calculations-rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 60px 0px 0px 0px;
 }

 .box-data-calculations-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
 }

 .box-data-calculations-center-section {
    max-width: 339px;
    width: 100%;
 }

 .box-data-calculations-section-center-result{
    border-radius: 15px;
    background: var(--color-white);
    padding: 25px 10px;
 }

 .box-data-calculations-section-center-result-list-item{
     margin-bottom: 40px;
 }

 .box-data-calculations-section-center-result-title{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
 }

 .box-data-calculations-rigth{
    width: 30%;
 }

 .box-data-calculations-left-section{
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
 }

 .box-data-calculations-section-title {
    margin-bottom: 0.2em;
    display: block;
    padding-right: 15px;
    padding-top: 4px;
    font-size: 28px;    
    font-weight: 600;
}

.box-data-calculations-section-result {
    border-radius: 15px;
    background: var(--color-white);
    padding: 25px 10px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.arrow {
    height: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}

.btn-next {
    font-size: 30px;
    font-weight: 600;

    height: 80px;
    width: 73%;
    color: var(--color-white);
    background: var(--color-title-darkgreen);
    cursor: pointer;

    border-radius: 48px;
    padding-top: 20px;
    bottom: 2;

    padding-left: 55px;
    display: flex;

    margin-bottom: 20px;

    border: 0;
}

.btn-next:hover {
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.btn-next img {
    padding-left: 13px;
    padding-top: 8px;
}


/* Responsividade a partir de  Tablet */

@media (max-width: 768px)   {

    .header-title {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .btn-next {
        width: 310px;
        padding-left: 75px;
    }

    .box-data-calculations{
        display: flex;
        flex-direction: column;
    }

    .box-data-calculations-left{
        width: 100%;
        padding:  0px;
    }

    .box-data-calculations-center{
        width: 100%;
    }
    .box-data-calculations-rigth{
        width:100%
    }
}

/* Responsividade PC */

@media (min-width: 900px) {

    .header-title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .btn-next {
        width: 270px;
    }
}




