*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-color: #E5E5E5;
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5%;

}

.campo {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    align-items: flex-start;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
    padding-right: 15px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 560;
    
}

.campo input{
    height: 36px;
    width: 183px;
    display: flex;
    border-radius: 15px;
    padding-left: 12px;
    border: 0px;
}

.campo select{
    height: 40px;
    width: 200px;
    display: flex;
    border-radius: 15px;
    padding-left: 10px;
    border: 0px;
}

.onlyform{
    padding-top: 40px;
}

.content{
    display:flex;
    justify-content: space-around;
}

.footersqn{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.info div{
    font-size: 25px;
    font-weight: 500;
    
}

.info{
    padding: 10px;
    border-radius: 15px;
    background-color: #D0DECF;
    border: 0px;

}

.footersqn button{
    font-size: 30px;
    font-weight: 600;
    
    height: 80px;
    color: var(--color-white);
    background: var(--color-darkgreen);
    cursor: pointer;
    
    border-radius: 48px;
    padding-top: 20px;
    bottom: 2;

    padding-right: 7vh;
    padding-left: 7vh;
    display: flex;
}

.seta img{
    padding-left: 13px;
    padding-top: 8px;
}

.footersqn button:hover{
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}