:root {
    --color-lightgreen:rgb(220, 233, 226);
    --color-green:rgba(37, 117, 97, 0.4);
    --color-darkgreen:rgb(12, 68, 54, 1);
    --color-title-darkgreen:rgb(20, 101, 81);
    --color-white: #FFFFFF;
    --color-lightergreen: #DCE9E2;
    --color-primary-green: #ABCFA8;
    --color-secondary-green: #D0DECF;
    --color-background: #F1F1F1;
    --color-darkgreen-hover:rgb(20, 101, 81, 0.8);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #E5E5E5;
    font-size: 18px;
}

header {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: var(--color-title-darkgreen);
    align-items: center;
    justify-content: center;
}

.header-title {
    color: var(--color-white);  
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 12px; 
}

.arrow {
    height: 20px;
    position: absolute;
    padding-top: 22px;
    padding-left: 15px;
    left: 0;
    top: 0; 
    cursor: pointer;
}


.paragraph {
    font-size: 32px;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

.paragraph-2 {
    font-size: 20px;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

.links-pages {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.channel-box {
    display: flex;
    width: 35%;
    background-color: var(--color-secondary-green);
    text-decoration: none;
    color: #000;
    margin: 10px;
    border-radius: 35px;
    margin-top: 50px;
}

.channel-box:hover {
    background-color: var(--color-darkgreen-hover);
    color: var(--color-white);
    transition: 0.5s;
}

.channel-box > img {
    height: 160px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.channel-box > h1 {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

.channel-box > p {
    text-decoration: none;
    text-align: center;
    align-self: center;
    padding-left: 8px;
    padding-right: 8px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    font-size: 15px;
    height: 130px;
    width: 100%;
    display: flex;
    background-color: rgba(20, 101, 81, 0.4);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: 1;
}


/* Responsividade a partir de  Tablet */

@media (max-width: 1200px) {

    .arrow {
        height: 20px;
        position: absolute;
        padding-top: 22px;
        left: 0;
        top: 0; 
        padding-left: 10px;
    }

    .channel-box {
        width: 80%;
    }

    .links-pages {
        flex-direction: column;
    }

    footer {
        position: relative;
        margin-top: 45px;
    }

    .channel-box > p {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* Responsividade telefone */

@media (max-width: 600px) {

    .arrow {
        height: 20px;
        margin-right: 50px;
        padding-bottom: 5px;
    }

    .header-title {
        font-size: 22px;
        padding-bottom: 6px;
        margin-right: 0px;
    }

    .paragraph{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 0;
    }

    .channel-box {
        width: 70%;
        flex-direction: column;
        margin-top: 30px;
    }

    .channel-box > img {
        height: 160px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 0px;
    }

    footer {
        text-align: center;
        font-size: 16px;
    }

    footer > p {
        padding-left: 5px;
        padding-right: 5px;
    }
}