:root {
    --color-lightgreen: rgb(220, 233, 226);
    --color-green: rgba(37, 117, 97, 0.4);
    --color-darkgreen: rgb(12, 68, 54, 1);
    --color-title-darkgreen: rgb(20, 101, 81);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-lightergreen: #DCE9E2;
    --color-ghostgreen: rgba(171, 207, 168, 0.6);
    --color-secondary-green: rgba(171, 207, 168, 1);
    --color-secondary-lightgreen: #D0DECF;
    --color-background: #F1F1F1;
}

* {
    font-family: Rajdhani, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    max-width: 100%;
    background-color: var(--color-background);
    color: var(--color-title-darkgreen);
}

body {
    background-color: #E5E5E5;
    font-size: 18px;
}

header {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: var(--color-title-darkgreen);
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.arrow {
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.return {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--color-white);
    padding: 10px;
    margin-top: 60px;
    border-radius: 20px;
    width: 90vw;
}

.container-title {
    background-color: var(--color-ghostgreen);
    margin: -10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.wrapper-card {
    margin-top: 30px;
}

.wrapper-card h4 {
    text-align: center;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.card {
    background-color: var(--color-secondary-lightgreen);
    border-radius: 20px;
    margin-top: 10px;
    color: var(--color-black);
    padding-top: 10px;
}

.card h4 {
    font-weight: 600;
}

.card-content img {
    height: 25px;
    margin: 10px
}

.card-content p {
    min-width: 150px;
    text-align: left;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-img {
    background-color: var(--color-secondary-green);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img img {
    height: 50px;
}

.card-img p {
    font-weight: 500;
}

footer {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

.btn-footer {
    background-color: var(--color-darkgreen);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-footer img {
    height: 30px;
}


/* Responsividade a partir de  Tablet */

@media (min-width: 600px) {
    .arrow {
        height: 18px;
    }
    .header-title {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .content {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }


}


/* Responsividade - PC */

@media (min-width: 900px) {
    .arrow {
        height: 20px;
    }
    .header-title {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .container {
        width: 80vw;
    }
}

@media (min-width: 1390px) {
    .arrow {
        height: 20px;
    }
    .header-title {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .container {
        width: 70vw;
    }
}
